.hmba-container {
  height: 100% auto;
  width: 100%;
  background-color: #d9d9d9;
}
.header {
  background-color: rgb(204, 0, 0);
  height: 60px;
  width: 100%;
  align-content: center;
  position: relative;
  z-index: 1000;
}
.main {
  height: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.background-image {
  background-image: url("../photo/select.jpg");
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

.front-book {
  color: rgb(204, 0, 0);
}
.search {
  border: 2px solid #f1f1f1;
  border-radius: 2px;
  border-radius: 4px;
  width: 30% auto;
  background-color: #f1f1f1;
  color: #d9d9d9;
}
.search input[type="text"] {
  font-size: medium;
  background: #f1f1f1;
  border: none;
  font-family: "montserrat";
}
.fa-search {
  color: rgb(204, 0, 0);
  font-size: 20px;
}
.fa-comment-alt {
  color: #f1f1f1;
  font-size: 30px;
}
.fa-book-open {
  color: #f1f1f1;
  font-size: 30px;
}
.fa-user-circle {
  font-size: 30px;
  color: #f1f1f1;
}
.signup {
  color: #f1f1f1;
  font-family: "montserrat";
  font-size: 15px;
  font-weight: bold;
}
.signup:hover {
  color: rgb(255, 51, 51);
  text-decoration: none;
}
.push:hover {
  text-decoration: none;
  color: rgb(255, 51, 51);
}
.push {
  margin: 10px;
}
.far:hover {
  color: rgb(199, 177, 177);
}
.fas:hover {
  color: rgb(199, 177, 177);
}
.signup:hover {
  color: rgb(199, 177, 177);
}
.letter {
  color: rgba(0, 0, 0);
  text-align: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  height: 300px;
  padding-top: 10%;
  margin-bottom: 30px;
}
.letter p {
  font-size: 25px;
  font-weight: 100;
  font-family: "monteserrat";
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  text-align: center;
  align-content: center;
}

.box {
  display: flex;
  width: 100%;
  top: 50px;
  background-color: #f1f1f1;
  border-top-width: 20px;
  border-top: solid blue 25px;
  border-radius: 4px;
}

.row {
  justify-content: space-evenly;
  width: 80%;
  position: relative;
  flex-wrap: wrap;
  margin-top: 5%;
  padding: 2%;
  left: 10%;
}

.card {
  margin: 1%;
  text-align: center;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.25rem;
  font-weight: 400;
  white-space: nowrap;
  color: #f1f1f1;
  font-family: sans-serif;
}
.card a:hover {
  color: red;
}

.card a:link {
  text-decoration: none;
}
.card a {
  color: #f1f1f1;
}
.search-container {
  width: 70%;
}
hr {
  width: 95%;
  color: grey;
  display: block;
}
.button-search {
  text-align: center;
  border: 1px solid transparent;
  color: rgb(204, 0, 0);
  font-weight: 100;
  font-family: "montserrat";
  font-weight: bold;
  background-color: rgb(230, 230, 230);
  font-size: 20px;
}

.button-view {
  text-align: center;
  border: 1px solid transparent;
  color: rgb(204, 0, 0);
  font-weight: 100;
  font-family: "montserrat";
  background-color: rgb(230, 230, 230);
  font-size: 20px;
  font-weight: bold;
}

.search-container input {
  width: 90%;
  font-family: "montserrat";
  font-weight: bold;
  font-size: 20px;
}
h1 {
  font-weight: 200;
  font-family: "montserrat";
}
.search-container .fa-search {
  color: rgb(204, 0, 0);
}
.open-button {
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  position: fixed;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  border: 3px solid #f1f1f1;
  color: #f1f1f1;
  text-align: left;
}

/* Add styles to the form container */
.form-container {
  max-width: 100%;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  text-align: left;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type="text"]:focus,
.form-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4caf50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
